body {
	background-color: #F6FEF6 ;
	font-family: "Courier New", Courier, monospace  ;
}

h1 {
	border-radius: 25px;
	background-color: #FFFFFD;
	padding: 20px;
	color: #54544B ;
	text-align: center ;
	font-size: 35px;
}
p {
	font-family: "Courier New", Courier, monospace;
	color: #7D7D6F;
	font-size: 1.1em;
}
p2 {
	font-family: "Courier New", Courier, monospace;
	color: #9B9B88;
	font-size: 1em;
}
h2 {
	color: #7D7D6F
}
.row{
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
}
.column{
	margin-top: 50px;
	margin-bottom: 50px;
}
.map {
	margin-top: 50px;
	margin-bottom: 50px;
}
img {
	border-radius: 30%;
}
span {
	border-style: dotted;
	border-radius: 25px;
	border-width: thick;
	border-color: bisque;
	border-top-width: 5px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}
a {
	text-decoration: none;
}
