body {
	background-color: #F6FEF6 ;
	font-family: "Courier New", Courier, monospace  ;
}
a {
	text-decoration: none;
}
h1 {
	border-radius: 25px;
	background-color: #FFFFFD;
	padding: 20px;
	color: #54544B ;
	text-align: center ;
	font-size: 35px;
}
span {
	border-style: dotted;
	border-radius: 25px;
	border-width: thick;
	border-color: bisque;
	border-top-width: 5px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}
p {
	font-family: "Courier New", Courier, monospace;
	color: #7D7D6F;
	font-size: 1.1em;
}
p2 {
	font-family: "Courier New", Courier, monospace;
	color: #9B9B88;
	font-size: 1em;
}
h2 {
	color: #7D7D6F
}
img {
	max-width: 100%;
	height: auto;
}
.column{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}
.map {
	margin-top: 25px;
	margin-bottom: 25px;
}
.gallery {
	border-radius: 30%;
	float: left;
	width: 50%;
	text-align: center;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
.lastgallery {
	margin-top: 20px;
	border-radius: 30%;
	text-align: center;
	margin-bottom: 50px;
}
.caption {
	border-radius: 60%;
	background-color: #FFFFFD;
	margin-top: 20px;
	margin-bottom: 20px;

