body {    /* the general bakcground colour and i wanted something with serifs  */
	background-color: #F6FEF6 ;
	font-family: "Courier New", Courier, monospace  ;   /* i set the default font */
}
a {    /* This takes away the blue underline in my hyperlinked pages on the index page. Looks better this way */
	text-decoration: none;
}
h1 {    /* This heading will span the entire top of page and be in large text. I wanted to add sbit more character to it so i put in a rounded background to 'contain' the words */
	border-radius: 25px;   /* this rounds the corners */
	background-color: #FFFFFD;
	display: block;
	padding: 20px;
	color: #54544B ;
	text-align: center ;
	font-size: 2em;
	font-weight: bold;
}
span {   /* I used this to highlight any words that i wanted to empahsize. In this case, i emphasized the two different page links and also the last photo caption in my personal page */
	border-style: dotted;  /* This makes the border a series of dots rather than a continuous line */
	border-radius: 25px;  /* This rounds the corners so that it looks more cohesive with the rouded heading background */
	border-width: thick;   /* i used this to make the dots larger and thus standing out more */
	border-color: bisque;
	border-top-width: 5px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}
p {
	font-family: "Courier New", Courier, monospace;
	color: #7D7D6F;
	font-size: 1.1em;
	display: inline-block;
	margin-block-start: auto;
	margin-block-end: auto;
	margin-bottom: 1em;
	margin-top: 1em;
}
p2 {
	font-family: "Courier New", Courier, monospace;
	color: #9B9B88;
	font-size: 1em;
}
h2 {
	color: #7D7D6F
}
.column{    /* I used this to centre the elements within their column and set a margin so that they did not look squished */
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}
.map {   /* This sets the margins for the map class but since the img tag comes later and therefor will be the style that is shown, i left out the radius and responsivity attributes */
	margin-top: 25px;
	margin-bottom: 25px;
}
.gallery {
	border-radius: 30%;
	float: left;
	width: 50%;
	text-align: center;
}
img {
	max-width: 100%;
	border-radius: 30%;
	height: auto;
}
.row:after {   /* This helps me create the two columns  */
	content: "";
	display: table;
	clear: both;
}
.lastgallery {
	margin-top: 20px;
	border-radius: 30%;
	text-align: center;
	margin-bottom: 50px;
}
.caption {   /* i wanted the captions to pop out mroe and add some fun elements so i created a sharp background shape */
	border-radius: 60%;
	background-color: #FCFCEC;
	margin-top: 20px;
	margin-bottom: 20px;

